<div class="item">
  <div class="blog-card">
    <div class="media-block">
      <a href="blog-post-1.html">
        <img class="post-image img-responsive" src="{{Model.ContentItem.Content.BlogPost.Image.Paths.first | asset_url}}" alt="{{Model.ContentItem.Content.BlogPost.Image.Paths.first }} " />
        <div class="mask"></div>
        <div class="post-date">
          <span class="day">6</span>
          <span class="month">Dec</span>
          <!--<span class="year">2016</span>-->
        </div>
      </a>
    </div>
    <div class="post-info">
      <ul class="category">
        {% assign tags =  Model.ContentItem.Content.BlogPost.Tags | taxonomy_terms %}
        {% for tag in tags %}
        <li>
          {% a display_for: tag %}
          {{tag }}
          {% enda %}
        </li>
        {% endfor %}
      </ul>
      <a href="{{Model.ContentItem.Content.AutoroutePart.Path}}">
        <h4 class="blog-item-title">{{Model.ContentItem | display_text}}</h4>
      </a>
    </div>
  </div>
</div>
