<!-- Home Subpage -->
@{
    string imagePath = Model.PersonPart.Image.Paths[0];

}
<section class="pt-page" data-id="home">
    <div class="section-inner start-page-content">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="photo">
                        <img src="@Orchard.AssetUrl(imagePath)" alt="">
                    </div>
                </div>

                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="title-block">
                        <h1>@Model.PersonPart.Name.Text.Value</h1>
                        <div class="owl-carousel text-rotation">
                            <div class="item">
                                <div class="sp-subtitle"> Web Designer</div>
                            </div>
                            <div class="item">
                                <div class="sp-subtitle"> Frontend-developer</div>
                            </div>
                        </div>
                    </div>

                    <div class="social-links">
                        <a href="#"> <i class="fa fa-twitter"> </i> </a>
                        <a href="#"> <i class="fa fa-facebook"> </i> </a>
                        <a href="#"> <i class="fa fa-instagram"> </i> </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="row">

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="about-me">
                        <div class="block-title">
                            <h3> About <span> Me</span> </h3>
                        </div>
                        <p>@Model.PersonPart.AboutMe.Text.Value</p>
                    </div>
                    <div class="download-resume">
                        <a href="" class="btn btn-secondary"> Download Resume</a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <ul class="info-list">
                        <li> <span class="title"> Age</span> <span class="value"> 29</span> </li>
                        <li> <span class="title"> Residence</span> <span class="value"> @Model.PersonPart.Residence.Text.Value</span> </li>
                        <li> <span class="title"> Address</span> <span class="value">@Model.PersonPart.Address.Text.Value</span> </li>
                        <li> <span class="title"> e-mail</span> <span class="value"> <a href="@Model.PersonPart.Email.Text.Value">@Model.PersonPart.Email.Text.Value</a> </span> </li>
                        <li> <span class="title"> Phone</span> <span class="value">@Model.PersonPart.Phone.Text.Value</span> </li>
                        <li> <span class="title"> Freelance</span> <span class="value available"> Available</span> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End of Home Subpage -->
