<!DOCTYPE html>
<html lang="{{ Culture.Name }}" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta httpequiv="X-UA-Compatible", content="X-UA-Compatible" />
    <title>PRO Card - Material Resume / CV / vCard Template</title>
    {% meta name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1" %}
    {% meta name:"description", content:"PRO Card - Material Resume / CV / vCard Template" %}
    {% meta name:"keywords", content:"vcard, resposnive, retina, resume, jquery, css3, bootstrap, Material CV, portfolio" %}
    {% meta name:"author", content:"lmtheme" %}

    {% resources type: "Meta" %}
    <link rel="shortcut icon" href="favicon.ico">
    {% style name:"theprocardtheme-vendor-bootstrapcss"%}
    {% style name:"theprocardtheme-vendor-normalize" %}
    {% style name:"theprocardtheme-vendor-animate" %}
    {% style name:"theprocardtheme-vendor-transitionanimations" %}
    {% style name:"theprocardtheme-vendor-owlcarousel" %}
    {% style name:"theprocardtheme-vendor-magnificpopup" %}
    {% style name:"theprocardtheme-main" %}

    {% script name: "theprocardtheme-vendor-jquery", at: "Head" %}
    {% script name: "theprocardtheme-vendor-modernizr", at: "Head" %}

    {% script name: "theprocardtheme-vendor-bootstrap", at: "Foot" %}
    {% script name: "theprocardtheme-vendor-pages-switcher", at: "Foot" %}
    {% script name: "theprocardtheme-vendor-imagesloaded", at: "Foot" %}
    {% script name: "theprocardtheme-vendor-validator", at: "Foot" %}
    {% script name: "theprocardtheme-vendor-jqueryshuffle", at: "Foot" %}
    {% script name: "theprocardtheme-vendor-masonry", at: "Foot" %}
    {% script name: "theprocardtheme-vendor-owlcarousel", at: "Foot" %}
    {% script name: "theprocardtheme-vendor-magnificpopup", at: "Foot" %}
    {% script name: "theprocardtheme-vendor-hoverdir", at: "Foot" %}
    {% script name: "theprocardtheme-main", at: "Foot" %}
    {% script src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyC0NqDq8LlqvdztQIExhkyNbGo8KgT2_Mw", at: "Foot" %}
    {% script name: "theprocardtheme-vendor-jquerygooglemaps", at: "Foot" %}
    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}
    {% resources type: "HeadScript" %}
  </head>

<body class="material-template">
    <!-- Loading animation -->
    <div class="preloader">
      <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
      </div>
    </div>
    <!-- /Loading animation -->

    <div id="page" class="page">
    {% assign userDetails= Content["alias:default-info"].Content %}
      <!-- Header -->
      <header id="site_header" class="header mobile-menu-hide">
        <div class="header-content">
          <div class="site-title-block mobile-hidden">
            <div class="site-title"> 
            {{userDetails.GeneralInformation.FirstName.Text}}
            <span>{{userDetails.GeneralInformation.LastName.Text}}</span></div>
          </div>

          <!-- Navigation -->
		  {% shape "menu", alias: "alias:main-menu", cache_id: "main-menu", cache_tag: "alias:main-menu" %}
          <!-- Navigation -->
        </div>
      </header>
      <!-- /Header -->

      <div class="mobile-header mobile-visible">
        <div class="mobile-logo-container">
          <div class="mobile-site-title">{{ userDetails.UserInformation.FirstName.Text }}  {{userDetails.UserInformation.LastName.Text }}</div>
        </div>

        <a class="menu-toggle mobile-visible">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      {% render_section "Content" %}
    </div>
    <footer>
      <!--<div class="copyrights">© 2017 All rights reserved. Material template by LMPixels</div>-->
    </footer>
    {% resources type: "FootScript" %}
  </body>

</html>
